# Khoa API YouTube Data v3 (Lay tu Google Cloud Console -> APIs & Services -> Credentials)
YOUTUBE_API_KEY=dien_api_key_youtube_data_v3_cua_ban_tai_day

# Firebase Admin SDK (Lay tu Firebase Console -> Project Settings -> Service accounts -> Generate new private key)
FIREBASE_PROJECT_ID=dien_project_id_cua_firebase_tai_day
FIREBASE_CLIENT_EMAIL=dien_client_email_service_account_tai_day
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ndien_toan_bo_private_key_service_account_cua_ban_tai_day\n-----END PRIVATE KEY-----\n"
